<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8,chrome=1">

    <title>Code n' Bier</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="author" content="Grifo">

    <meta property="og:title" content="Code n' Bier">
    <meta property="og:description" content="O primeiro evento de programação dentro de um bar">
    <meta property="og:image" content="http://codenbier.com/images/facebook.jpg">
    <meta property="og:url" content="http://codenbier.com">
    <link rel="canonical" href="http://codenbier.com">
    
    <meta name="viewport" content="width=device-width">
    <script> document.getElementsByTagName('html')[0].className += 'js' </script>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    
    <link rel="stylesheet" href="/styles/main.css">

    <script src="/scripts/vendor/respond.min.js"></script>

    <link href="//fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="skiplinks">
        <a href="#content">Pular para o conteúdo</a>
    </div>

    <header>
        <div class="wrapper">
            <h1>Code n' Bier</h1>
            <a href="http://gri.fo" rel="external" title="Ir para a página da Grifo"><img src="/images/logo-grifo.png" alt="Grifo"></a>
            <span class="share">
                <span class="st_facebook_hcount" st_url="http://codenbier.com" displayText="Facebook"></span>
                <span class="st_twitter_hcount" st_url="http://codenbier.com" st_title="{{ site.description }}" displayText="Tweet"></span>
            </span>
        </div>
    </header>

    {% if page.id %}
        {% assign current = page.id %}
    {% else %}
        {% assign current = site.posts.first.id %}
    {% endif %}

    <div id="content">
        {% assign className = "next" %}
        
        <div class="board carousel">
        {% for post in site.posts %}
            {% if post.id == current %} {% assign className = "previous" %}
            <article class="item-current" data-url="{{ post.url }}" style="background-image:url(/images/board/{{ post.edition }}.jpg); background-color:{{ post.color }};">
            {% else %}
            <article class="item-{{ className }}" data-url="{{ post.url }}" data-image="/images/board/{{ post.edition }}.jpg" style="background-color:{{ post.color }};">
            {% endif %}
                <div class="wrapper edition-{{ post.edition }}">{{ post.content }}</div>
            </article>
        {% endfor %}
        </div>

        <div class="nav">
            {% if site.posts.first.id == current %}
            <span class="right">&raquo;</span>
            {% else %}
            <a href="#" class="right" title="próxima edição">&raquo;</a>
            {% endif %}

            {% if site.posts.last.id == current %}
            <span class="left">&laquo;</span>
            {% else %}
            <a href="#" class="left" title="edição anterior">&laquo;</a>
            {% endif %}
        </div>

        <section class="wrapper">
            <div class="box box01">
                <h1>O que é</h1>
                <p>O Code n' Bier é uma <b>atividade</b> de programação que visa promover o <b>aprendizado</b>, resolvendo um problema central ou batendo papo sobre algum assunto com o apoio da <b>inteligência coletiva</b>.</p>
                <p>Nossa intenção é gerar um evento <b>divertido</b> de troca de experiências e conhecimentos. Tem uma ideia legal? Então deixe sua sugestão.</p>
                <a href="http://bit.ly/RgriR3" rel="external" class="btn">deixar sugestão</a>
                
                <!-- <h1>Edições</h1>
                <ol>
                    <li><a href="#">#1 - <time datetime="2012-08-01T19:00-03:00">01.08.2012</time> - Dojo de Javascript</a></li>
                    <li><a href="asdas">#2 - <time datetime="2012-09-05T19:00-03:00">05.09.2012</time> - Em breve</a></li>
                </ol> -->
            </div>

            <div class="box box02">
                <h1>Quanto</h1>
                <p>O evento é <b>gratuito</b>.<br> Inscreva-se a cada edição, compartilhe e nos ajude a divulgar.</p>
                
                <h1>Onde</h1>
                <h2>Dhomba</h2>
                <p class="address">
                    Lima e Silva, 1037<br>
                    Cidade Baixa - Porto Alegre
                </p>
            </div>

            <div class="box box03">
                <h1>Localização</h1>
                <img src="/images/map.png" alt="mapa de localização">
                <a href="http://goo.gl/maps/51C6" rel="external" class="btn">ver no mapa</a>
            </div>
        </section>

    </div>

    <footer>
        <div class="wrapper">
            <p><a href="http://creativecommons.org/licenses/by/3.0" class="cc" rel="external">Creative Commons Attribution 3.0 License.</a></p>
            <a href="http://dhomba.com.br" rel="external" class="dhomba">Dhomba</a>
            <a href="http://gri.fo" rel="external" class="grifo">Grifo</a>
        </div>
    </footer>

    <script src="/scripts/main.js"></script>
    <script src="http://w.sharethis.com/button/buttons.js"></script>
    <script> stLight.options({publisher: "ur-9f505628-740c-83fa-21f4-e9f7d0744ff5"}); </script>

    <script>
        var _gaq=[['_setAccount','UA-33551293-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>