/*
  2012-07-20 22:36 GMT
  _less/main.less > styles/main.css
  
  created by Grifo
*/

@charset "utf-8";
@media (grifo){}html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
body{line-height:1;}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
img{-ms-interpolation-mode:bicubic;vertical-align:middle;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
em{font-style:normal;font-weight:700;}
input,select{vertical-align:middle;}
.vhidden{position:absolute;text-align:left;direction:ltr;left:-9999em;height:1px;}
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;visibility:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
label{cursor:pointer;}
#skiplinks{position:absolute;left:-9999px;}
.wrapper{position:relative;overflow:hidden;width:960px;margin:0 auto;}
html{background:url(http://noisepng.com/100-20-2.png) #222222;height:100%;}
body{font:400 14px/1.6 'Open Sans',Verdana,Helvetica,sans-serif;color:#333333;text-shadow:0 1px 3px rgba(0, 0, 0, 0.8);}
header,footer{background:url(http://noisepng.com/100-20-5.png) #111111;}
header{height:120px;}header h1{font:400 30px/120px 'Bree Serif',Georgia,serif;letter-spacing:-2px;color:#b91010;word-spacing:6px;}header h1 img{vertical-align:bottom;margin-bottom:30px;display:inline-block;}
footer{border-top:1px solid #333;}footer .wrapper{height:100px;margin-top:-40px;}
footer a{position:absolute;}
footer .cc{line-height:60px;bottom:0;color:#b3b3b3;font-size:12px;text-decoration:none;}footer .cc:hover{color:#e6e6e6;}
footer .grifo,footer .dhomba{bottom:-10px;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;cursor:pointer;}footer .grifo:hover,footer .dhomba:hover{bottom:-2px;-moz-transform:rotate(-2deg);-o-transform:rotate(-2deg);-webkit-transform:rotate(-2deg);transform:rotate(-2deg);}
footer .grifo{right:0;text-align:left;font:0/0 a;text-shadow:none;width:80px;height:90px;background:url(../images/tag-grifo.png) no-repeat 0 0;}
footer .dhomba{right:90px;text-align:left;font:0/0 a;text-shadow:none;width:90px;height:90px;background:url(../images/tag-dhomba.png) no-repeat 0 0;}
.btn{background-color:#e2ac37;background-image:-moz-linear-gradient(top, #cf962d, #ffcc47 100%);background-image:-ms-linear-gradient(top, #cf962d, #ffcc47 100%);background-image:-webkit-linear-gradient(top, #cf962d, #ffcc47 100%);background-image:-o-linear-gradient(top, #cf962d, #ffcc47 100%);background-image:linear-gradient(top, #cf962d, #ffcc47 100%);display:inline-block;padding:10px 20px;color:#333333;text-decoration:none;box-shadow:0 0 1px 1px rgba(255, 255, 255, 0.3) inset,0 1px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 1px 1px rgba(255, 255, 255, 0.3) inset,0 1px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 0 1px 1px rgba(255, 255, 255, 0.3) inset,0 1px 0 rgba(0, 0, 0, 0.2);border:1px solid #333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-shadow:-1px -1px 0 #ffcc47;font-size:18px;line-height:30px;font-weight:bold;}.btn:hover{box-shadow:0 0 1px 1px rgba(255, 255, 255, 0.3) inset,inset 0 5px 8px rgba(0, 0, 0, 0.08);-moz-box-shadow:0 0 1px 1px rgba(255, 255, 255, 0.3) inset,inset 0 5px 8px rgba(0, 0, 0, 0.08);-webkit-box-shadow:0 0 1px 1px rgba(255, 255, 255, 0.3) inset,inset 0 5px 8px rgba(0, 0, 0, 0.08);}
.btn:active{box-shadow:0 0 1px 1px rgba(255, 255, 255, 0.8) inset,inset 0 5px 8px rgba(0, 0, 0, 0.08);-moz-box-shadow:0 0 1px 1px rgba(255, 255, 255, 0.8) inset,inset 0 5px 8px rgba(0, 0, 0, 0.08);-webkit-box-shadow:0 0 1px 1px rgba(255, 255, 255, 0.8) inset,inset 0 5px 8px rgba(0, 0, 0, 0.08);}
.board{height:390px;box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.5),0 1px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.5),0 1px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.5),0 1px 0 rgba(0, 0, 0, 0.2);background:url(../images/board.jpg) top center no-repeat #1e150e;border-top:1px solid #333;border-bottom:1px solid #333;}.board h1,.board p{margin-bottom:30px;max-width:380px;color:white;}
.board h1{padding-top:60px;font-size:30px;line-height:1.2;color:white;}
.board p{font-size:16px;}
#content{padding:50px 0;}
#content>div{float:left;color:white;}#content>div h2{margin-bottom:20px;font:400 30px/1 'Bree Serif',Georgia,serif;letter-spacing:-2px;color:#b91010;word-spacing:4px;}
#content>div h2~h2{margin-top:30px;}
#content>div b{box-shadow:1px 1px 1px #222222;-moz-box-shadow:1px 1px 1px #222222;-webkit-box-shadow:1px 1px 1px #222222;color:#daab55;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:0 4px;display:inline-block;background:#111;font-weight:normal;}
#content>div.what{width:380px;padding-right:30px;}#content>div.what p{margin-bottom:10px;}
#content>div.when{width:250px;color:#999999;}#content>div.when time{display:block;}
#content>div.when .hour,#content>div.when .date,#content>div.when h3{margin-bottom:5px;font:400 22px/1 'Bree Serif',Georgia,serif;color:white;}
#content>div.when h3{color:#999999;}
#content>div.when .address{color:white;}
#content>div.map{width:300px;padding-top:50px;}#content>div.map img{width:100%;margin-bottom:10px;}
#content>div.map .btn{float:right;font-size:14px;line-height:20px;padding:8px 14px;}
@media print{*{background:transparent !important;color:black !important;text-shadow:none !important;} a,a:visited{color:#444 !important;text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
